<%= form_with(model: comment, method: :post, url: post_comments_path, local: true) do |form| %>
  <% if comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comment.errors.count, "件のエラー") %> があります。以下の理由で登録できません:</h2>
      <ul>
        <% comment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field form-group">
    
    <%= form.text_area :content, class:"form-control" %>
    <%= form.hidden_field :post_id, :value =>params[:post_id] %>
  </div>
  <div class="actions mt-2">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>