<div class="card mb-3">
  <div class="card-body">
    <p class="card-text"><%= post.content %></p>
    <%= link_to 'Show', post, class: "btn btn-outline-primary" %>
    <%= link_to 'Edit', edit_post_path(post), class: "btn btn-outline-primary" %>
    <%= form_with url: post, method: :delete, class: "btn btn-outline-danger" do |f| %>
      <div class="btn samazon-submit-button" data-toggle="modal" data-target="#buy-confirm-modal">削除</div>
      <div class="modal fade" id="buy-confirm-modal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="staticBackdropLabel">削除しますか？</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn samazon-favorite-button border-dark text-dark" data-dismiss="modal">閉じる</button>
              <button type="submit" class="btn samazon-submit-button">削除</button>
            </div>
          </div>
        </div>
      </div>
   <% end %>

   
    
     <div class="rightstage">
      <small class="text-primary rightstage">
      <%= post.created_at.strftime('%Y/%m/%d') %>
      </small>
     </div>
  </div>
</div>